# CakePHP specific
/app/tmp/*
!/app/tmp/cache
!/app/tmp/cache/persistent
!/app/tmp/cache/models
!/app/tmp/cache/views
!/app/tmp/cache/queries

# CakePHP logs
/app/tmp/logs/*
!/app/tmp/logs/empty

# CakePHP plugins
/app/Plugin/*

# Composer dependencies
/vendor/*

# IDE files
/.idea/*
/.vscode/*

# Miscellaneous
/config/app.php
/config/core.php
/composer.phar
/composer.lock
/composer.json
/logs/*
/tmp/*
/webroot/files/*
/webroot/img/*
/webroot/js/*
/webroot/css/*
